.main-header.conteneurs .main-header__heading {
/*	border: 1px solid red;*/
	width: 100%;
}

#gestion_conteneur {
/*	border: 1px solid red;	*/
/*	width: 65%;*/
/*	min-width: 600px;*/
/*	overflow: auto;*/
	margin: 0 auto 0 auto;
	background-color: white;
	padding: 10px;
}

#gestion_conteneur #action_conteneur {
	width: 300px;
	display: flex;
	margin: 0 auto 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
/*	border: 1px solid red;*/
	height: 40px;
	margin-bottom: 15px;
	padding-top: 5px;
	cursor: not-allowed;
}

#gestion_conteneur #action_conteneur div {
/*	border: 1px solid blue;*/
	width: calc(100%/3 - 1px);
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	color: white;
	font-size: 16px;
	border-right: 1px solid white;
}


#gestion_conteneur #action_conteneur div:nth-child(1) {
	background-color: rgba(0,230,0,0.4);
	border-radius: 3px 0px 0px 3px;
}

#gestion_conteneur #action_conteneur div:nth-child(2), #gestion_conteneur #action_conteneur div:nth-child(3) {
	background-color: rgba(255,69,0,0.4);
}

#gestion_conteneur #action_conteneur div:nth-child(3) {
	border-radius: 0px 3px 3px 0px;
}

#gestion_conteneur table {
	overflow: auto;
	margin: 0 auto 0 auto;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	font-family: "Montserrat"; 
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

#gestion_conteneur table tr:nth-child(1) {
	font-weight: 800;
	
	color:
}

#gestion_conteneur table td {
	border-bottom: 1px solid rgba(0,0,0,0.10);
	padding:5px;
}

#gestion_conteneur table tr:hover {
	background-color: rgba(0,0,0,0.15);
}

#gestion_conteneur table td div[id=status] {
	background: red;
	font-weight: 800;
	font-size: 14px;
	height: 30px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: white;
	border-radius: 5px 5px 5px 5px;
}
#popup-infos {
	position: absolute;
	width: 200px;
	height: 45px;
/*	border-radius: 10px 10px 5px 5px;*/
	vertical-align: middle;
	line-height: 20px;
	top: 20px;
	right: 20px;
	color: white;
	text-align: center;
	word-wrap: break-word;
}

#popup{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.15);
	display: none;
	z-index:1;
}
