.main-header.creation {
	display: block;
}
.main-header.creation form{
	margin: 0 auto 0 auto;
	
	
}

#main_div_creation form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* display: block; */
	/* border: 1px solid blue; */
	margin: 20px 10px 20px 10px;
}

#main_div_creation input {
	outline: none;
	border: none;
	height: 35px;
	width: 100%;
	font-size: 1em;
	text-align: left;
	font-family: 'Calibri';
}
#main_div_creation input::placeholder {
	font-size: 1.1em;
	font-family: 'Calibri';
}

#main_div_creation input[type=text] , #main_div_creation input[type=password]{
		border-bottom: 2px solid grey;
	
}

#main_div_creation input[type=submit] {
		margin-top: 10px;
		outline: solid;
		outline-width: 0.7px;
		width: 20vh;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 1.1em;
}

#main_div_creation input:focus {
	border-bottom: 2px solid #415472;
	transition: 0.2s;

}
#main_div_creation select {
	width: 50%;
	padding: 2px 0px 2px 0px;
	margin-top: 5px;
}

#main_div_creation div {
	/* border: 1px solid purple; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 7px 0px 7px 0px;
}

#main_div_creation .pseudoGit  ,#main_div_creation .passwordGit {
	width: 49%;	
/*	border: 1px solid red;*/
}
#main_div_creation .pseudoGit{
	margin-right: 2%;
}

#main_div_creation input select {
	/* width: 50%; */
}
#main_div_creation label {
	/* border: 1px solid green; */
	width: 100%;
	word-wrap: wrap;
	margin-right: 0px;
	
	
}

.__class_mysql, .__class_postgres {

}

.__class_apache {
	display: none;
}

