.main-header.images {
	display: block;
}

.main-header.images .main-header__heading {
/*	border:1px solid red;*/
	width: 50%;
	margin: 0 auto 0 auto;
}

#main-container-liste-docker {
	background-color: white;
	display: flex;
	flex-direction: row;
	height: auto;
/*	border: 1px solid red;*/
	margin-bottom: 7px;
	padding: 8px;
	font-family: 'Calibri';
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#main-container-liste-docker .element-docker {
	width: 100%;
	/*border: 1px solid blue;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

#main-container-liste-docker .element-docker #gauche {
	width: 50%;
}

#main-container-liste-docker .element-docker #droite {
	width: 49%;
	height: 40px;
/*	border: 1px solid red;*/
	line-height: 40px;
	text-align: center;
}

#main-container-liste-docker .element-docker #droite .download {
	width: 30px;
	float: right;
	margin-top: 7.5px;
	vertical-align: center;
/*	border: 1px solid red;*/
}
#main-container-liste-docker .element-docker #droite .download .download_img {
	width: 25px;
	height: 25px;
}

#main-container-liste-docker .element-docker #droite .download span[class=info] {
	font-size: 30px;
	color: blue;
/*	border: 1px solid green;*/
}

#main-container-liste-docker .element-docker #droite .download span[class=info]:hover {
	color: lightblue;
	cursor: pointer;
}

#main-container-liste-docker .element-docker .title{
	/*border: 1px solid green;*/
	width: auto;
	height: 20px;
	line-height: 20px;
	font-size: 1.2em;
}
#main-container-liste-docker .element-docker .last_update{
/*	border: 1px solid green;*/
	width: 230px;
	word-wrap: break-word;
	height: 20px;
	line-height: 20px;
	font-size: 0.9em;
	color: blue;
	padding: 0;
}

#main-container-liste-docker .label-local {
	background: green;
	font-weight: 800;
	font-size: 14px;
	height: 1.4em;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 1.4em;
	color: white;
	border-radius: 5px 5px 5px 5px;
}

#main-container-liste-docker .label-dockerhub {
	background: #318CE7;
	font-weight: 800;
	font-size: 14px;
	height: 1.4em;
	width: 95px;
	text-align: center;
	vertical-align: middle;
	line-height: 1.4em;
	color: white;
	border-radius: 5px 5px 5px 5px;
}
#popup_creation {
	width: 15%;
	min-width: 250px;
	border: 1px solid rgba(0,0,0,0.15);
	background-color: white;
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	left: 50%;
	top: 50%;
	color: black;
	font-family: Helvetica; 
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

#popup_creation h1 {
	width: 83%;
/*	height: 40px;*/
	margin:5px auto 0 auto;
	word-wrap: break-word;
	
/*	border: 1px solid red;*/
	font-size: 15px;
}

#popup_creation span[class=cross] {
	position: absolute;
	margin: 0;
	padding: 0;
	right:0;
	font-size: 30px;
}

span[class=supprimer-image] {
	
	padding:0;
	font-size: 30px;
	color: red;
	top: 5px;
	margin-left: 5px;
	font-size: 30px;
/*	border: 1px solid blue;*/
	
}

span[class=supprimer-image]:hover {
	cursor: pointer;
	transition: 0.2s;
	color: indianred;
}


#popup_creation span[class=cross]:hover {
	color: red;
	transition: 0.2s;
	cursor: pointer;
}

#popup_creation form {
	width: 90%;
	margin: 10px auto 0 auto;
/*	border: 1px solid blue;*/
}

#popup_creation label {
	width: 100%;
	
}
#popup_creation form input {
	width: 100%;
	
	border: 0;
	margin: 5px 0 5px 0px;
	
	padding: 7px 0px 7px 0px;
}

