body {
	background-color:#415472;
}

#login {
    opacity: 0;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    height: 260px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: white;
    /* background-color: white; */
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in; */

    transform: translate(-50%,-50%);
}

#login div:nth-child(1) {
    background-color: #415472;
    border-radius: 5px 5px 0px 0px;
}
#login img {
    /* border: 1px solid red; */
    display: block;

    margin: 0 auto 0 auto;

}

#login.load {
    opacity: 1;
}

#login form {
    margin: 10px auto 0 auto;
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;

}


#login form label {
    padding: 0;
    /* border: 1px solid green; */
    color: black;
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 0;
    /* font-weight: 400; */
}

#login form input{
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px 5px 0px;
    font-size:16px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid rgb(0,79,155);
}

#login form input[type="submit"] {
    margin-top: 6px;
    border: 0;
    background-color: #415472;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
}
#login form input[type="submit"]:hover {
    background-color: white;
    color: #415472;
    transition: 0.3s;
    cursor: pointer;
}

