.card h3 {
	text-align: center;
}

.supprimer-log {
	color: red;
	font-size: 30px;
	display: block;
	float: right;
	padding: 0;
	margin: 0;
	top: 0;
/*	position: absolute;*/
}

.supprimer-log:hover {
	color: indianred;
	cursor: pointer;
	transition: 0.3s;
}
