.main-header.networks .main-header__heading {
/*	border: 1px solid red;*/
	width: 100%;
}

#gestion_network {
/*	border: 1px solid red;	*/
/*	width: 65%;*/
/*	min-width: 600px;*/
/*	overflow: auto;*/
	margin: 0 auto 0 auto;
	background-color: white;
	padding: 10px;
}

#gestion_network #action_network {
	width: 350px;
	display: flex;
	margin: 0 auto 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
/*	border: 1px solid red;*/
	height: 40px;
	margin-bottom: 15px;
	padding-top: 5px;
	cursor: not-allowed;
}

#gestion_network #action_network div {
/*	border: 1px solid blue;*/
/*	width: calc(100%/3 - 1px);*/
	text-align: center;
	padding: 0px 5px 0px 5px;
	line-height: 40px;
	vertical-align: middle;
	color: white;
	font-size: 15px;
	border-right: 1px solid white;
}

#gestion_network #action_network div:nth-child(1) {
/*	background-color: rgba(0,230,0,0.4);*/
	border-radius: 3px 0px 0px 3px;
	color:blue;
	font-size: 35px;
/*	width: calc(20%-1px);*/
	line-height: 35px;
	cursor:pointer;
/*	border: 1px solid red;*/
}


#gestion_network #action_network div:nth-child(2) {
	background-color: rgba(0,230,0,0.4);
	border-radius: 3px 0px 0px 3px;
/*	width: calc(40% - 1px);*/
}

#gestion_network #action_network div:nth-child(3) {
	background-color: rgba(255,69,0,0.4);
/*	width: calc(40% - 1px);*/
}

#gestion_network #action_network div:nth-child(4) {
	color: rgba(255,69,0,0.4);
	line-height: 35px;
	font-size: 35px;
}



#gestion_network table {
	overflow: auto;
	margin: 0 auto 0 auto;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	font-family: "Montserrat"; 
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

#gestion_network table tr:nth-child(1) {
	font-weight: 800;
	
	color:
}

#gestion_network table td {
	border-bottom: 1px solid rgba(0,0,0,0.10);
	padding:5px;
}

#gestion_network table tr:hover {
	background-color: rgba(0,0,0,0.15);
}

#gestion_network table td div[id=status] {
	background: red;
	font-weight: 800;
	font-size: 14px;
	height: 30px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: white;
	border-radius: 5px 5px 5px 5px;
}
#popup-infos {
	position: absolute;
	width: 200px;
	height: 45px;
/*	border-radius: 10px 10px 5px 5px;*/
	vertical-align: middle;
	line-height: 20px;
	top: 20px;
	right: 20px;
	color: white;
	text-align: center;
	word-wrap: break-word;
}

.__popup {
	position: absolute;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.15);
	transform: translate(-50%, -50%);
	z-index:2;
	top: 50%;
	width: 230px;
  	left: 50%;
  	overflow: auto;
  	height: auto;
}

.__popup h1 {
	font-size: 16px;
}

#popup{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.15);
	display: none;
	z-index:1;
}

#popupConnectNetwork {
/*	position: absolute;*/
/*	background-color: white;*/
/*	border: 1px solid rgba(0,0,0,0.15);*/
/*	transform: translate(-50%, -50%);*/
/*	z-index:2;*/
/*	top: 50%;*/
/*	width: 230px;*/
/*  	left: 50%;*/
/*  	overflow: auto;*/
/*  	height: auto;*/
	
}


.__popup button {
	width: 80%;
	margin: 0 auto 0 auto;
}

span[class=cross] {
	position: absolute;
	margin: 0;
	padding: 0;
	right:0;
	font-size: 30px;
	color: red;
}
span[class=cross]:hover {
	color: indianred;
	cursor: pointer;
}
#popupCreateNetwork {
/*	position: absolute;*/
/*	background-color: white;*/
/*	border: 1px solid rgba(0,0,0,0.15);*/
/*	transform: translate(-50%, -50%);*/
/*	z-index:2;*/
/*	top: 50%;*/
/*	width: 230px;*/
/*  	left: 50%;*/
/*  	overflow: auto;*/
/*  	height: auto;*/
/*  	word-wrap: break-word;*/
}

#popupCreateNetwork div[class=formCreate] {
/*	border: 1px solid red;*/
	margin: 0 auto 0 auto;
	width: 90%;
}

#popupCreateNetwork span[class=required] {
	color: red;
	font-size: 20px;
}

#popupCreateNetwork span[class=example] {
	font-size: 12px;
}

#popupCreateNetwork span[class=textRequired] {
	font-size: 12px;
	margin-left: 5px;
}

#popupCreateNetwork .formCreate input, #popupCreateNetwork .formCreate label {
	width: 100%;
	border: 0;
	padding: 5px 0px 5px 0px;
} 

#popupCreateNetwork .formCreate button {
	width: 100%;
	margin: 10px auto 10px auto;
}





