@import url("login.css"); /* page gestion_conteneurs.php */
@import url("creation.css"); /* page creation.php */
@import url("conteneurs.css"); /* page gestion_conteneurs.php */
@import url("images.css"); /* page gestion_conteneurs.php */
@import url("network.css"); /* page gestion_conteneurs.php */
@import url("logs.css"); /* page log_build.php */

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
}


a {
/*   	border: 1px solid yellow;*/
	text-decoration: none;
	color: #ddd;
	border-style: none;
}

hr {
	color: #415472;
	background-color: #415472;
	border: 0.5px solid #415472;
}

li:active {
	border: 0px;
	text-decoration: none;
	color: #ddd;
	border-style: none;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    'header'
    'main'
    'footer';
    height: 100vh;
}

.menu-icon {
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    background-color: #DADAE3;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
}

/* Give every child element its grid name */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #415472;
    font-family: 'Montserrat', sans-serif;
}

/* Make room for the menu icon on mobile */
.header__search {
    margin-left: 42px;
}

#deconnexion {
	color:white;
	font-size: 20px;
	line-height: 20px;
	margin-left: 5px;
/*	border: 1px solid green;*/

}
#deconnexion:hover {
	color: #f0dc52;
	transition: 0.5s;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #415472;
}


.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list li {
    padding: 15px 20px 15px 40px;
    color: #ddd;
}

/*.active {*/
/*	border-left: 3px solid #f0dc52;*/
/*    background-color:rgb(65,84,110);*/
/*}*/

.sidenav__list li[class=active] {
    border-left: 3px solid #f0dc52;
    background-color:rgb(65,84,110);
}

.sidenav__list li:hover {
    border-left: 3px solid yellow;
    background-color: #415472;
    cursor: pointer;
}

.main {
    grid-area: main;
    background-color: rgb(241,241,241);
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: auto;
    background-color: #e3e4e6;
    color: slategray;
}

.main-header__heading {
/*	background-color: red;*/
	min-width: 250px;
/*	margin: 0 auto 0 auto;*/
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
    width: 100%;
    background-color: #e3e4e6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    color: slategray;
}

/* Force varying heights to simulate dynamic content */
.card{
    height: auto;
}



/*.card:nth-child(2) {*/
/*    height: 200px;*/
/*}*/

/*.card:nth-child(3) {*/
/*    height: 265px;*/
/*}*/

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #415472;
}



/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
/* Show the sidenav */
    .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
    }

    .header__search input {
        height: 20px;
        font-size: 15px;
        width: 350px;
        padding: 5px;
        border: 0;
    }
      
	.main-header.creation .main-header__heading{
		width: 50vh;
		margin: 0 auto 0 auto;
	}
    .header__search {
    margin-left: 0;
    }

    .sidenav {
    position: relative;
    transform: translateX(0);
    }

    .sidenav__close-icon {
    visibility: hidden;
    }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
    column-count: 2;
    }
}
