/* COULEUR DE LA BARRE DE NAVIGATION rgb(0,79,155) */

html {
    width: 100%;
    height: 100%;
    font-family: Calibri, Arial ;
}

html a {
    text-decoration: none;
    color: black;
}

html,body {
    margin: 0;
    padding: 0;
}

body {

}

html[pagelogin] {
    background-color: rgb(0,79,155);
}

textarea {
    resize : none;
    font-family: Calibri;
}



#login {
    opacity: 0;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    height: 260px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: white;
    /* background-color: white; */
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in; */

    transform: translate(-50%,-50%);
}

#login div:nth-child(1) {
    background-color: rgb(0,79,155);
    border-radius: 5px 5px 0px 0px;
}
#login img {
    /* border: 1px solid red; */
    display: block;

    margin: 0 auto 0 auto;

}

#login.load {
    opacity: 1;
}

#login form {
    margin: 10px auto 0 auto;
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;

}


#login form label {
    padding: 0;
    /* border: 1px solid green; */
    color: black;
    font-family: 'Calibri Light';
    font-size: 14px;
    margin: 0;
    /* font-weight: 400; */
}

#login form input{
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px 5px 0px;
    font-size:16px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid rgb(0,79,155);
}

#login form input[type="submit"] {
    margin-top: 6px;
    border: 0;
    background-color: rgb(0,79,155);
    color: white;
    font-family: 'Calibri';
    font-size: 18px;
}
#login form input[type="submit"]:hover {
    background-color: white;
    color: rgb(0,79,155);
    transition: 0.3s;
}


/* WORKFLOW */

#workflow_parent {
    border: 1px solid rgb(79,136,197);
    width: 1000px;
    height: 100%;
    /* margin: 1% auto 5% auto; */
    display: none;
    z-index: 0;
    flex-direction: row;
    background-color: white;
    overflow: auto;

}
#workflow_parent .column {
    border-right :1px solid rgb(91,133,171);
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#workflow_parent .column:nth-child(4) { /* POUR EVITER QUE LA BORDURE TOUT A DROITE SOIS + EPAISSE */
    border: 0px ;
}

#workflow_parent .column .name {
    /* border: 1px solid green; */
    width: 100%;
    height: 90px;
    background-color: rgb(79,136,197);

    /* padding: 5%; */
}

#workflow_parent .column  p {
    width: 100%;
    color: white;
    margin: 0;
    word-wrap: break-word;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    /* border: 1px solid red; */
}



#workflow_parent .column .name p {
    /* border: 1px solid black; */
    font-size: 1.2em;


}

#workflow_parent .column .carre {
    /* border: 1px solid red; */
    background-color: rgb(91,155,213);
    width: 85%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;

    margin-right: auto;
}

#workflow_parent .column .carre {
    padding: 4px;
}

#workflow_parent .column:nth-child(2) .carre:nth-child(2) {
    margin-top: 132px;
}
#workflow_parent .column:nth-child(3) .carre {
    margin-top: 455px;
}
#workflow_parent .column:nth-child(4) .carre {
    margin-top: 570px;
}
/* #workflow_parent .column:nth-child(5) .carre {
    margin-top: 700px;
}
#workflow_parent .column:nth-child(6) .carre {
    margin-top: 650px;
} */

#popup {
    position: absolute;
    z-index: 2;
    top: 2%;
    /* border: 1px solid red; */
    height: 95%;
    left: 15%;
    /* overflow:scroll; */
}

/* FIN WORKFLOW */


#main-container-fiche {
    width: 900px;
    /* border: 1px solid black; */
    /* z-index: 1; */
    /* margin: 0px auto 100px auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    font-family:  Calibri light ;
    /* border: 1px solid red; */
	/* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); */
    padding: 10px;



}



#main-container-fiche #categorie-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid blue; */

}

#fleche{
    height:30px;
    background-color: grey;
    /* font-weight: bold; */
    font-family: 'Poppins';
    font-size: 0.9em;
    color:#fff;
    position:relative;
    width:285px;
    text-align:center;
    line-height:30px;
    margin-right: 15px;
}

#fleche:before {
    content:"";
    position:absolute;
    height:0;
    width:0;
    left: 0%;
    top:0;
    border:15px solid transparent;
    border-left: 15px solid white;
}

#fleche:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border:15px solid transparent;
    border-left: 15px solid grey;
}

#fleche:nth-child(1) {
    background-color:  #048b9a;
}
#fleche:nth-child(1):after {
    border-left: 15px solid #048b9a;
}

#categorie-container:nth-child(2) {
    background-color: orangered;
    border: 0px;
}

#main-container-fiche #categorie-container:nth-child(3)  #creation .title:nth-child(1) {
    margin-top: 0;

}
#main-container-fiche #categorie-container:nth-child(2) {
    margin: 10px 0px 10px 0px;
}

#main-container-fiche #categorie-container:nth-child(3)  #creation .title {

    width: 100%;
    border-bottom: 2px solid black;
    /* border: 1px solid red; */
    margin-bottom: 10px;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}
#main-container-fiche  .title .t {
    /* border: 1px solid blue; */
    width: 50%;
    /* justify-content: space-between; */
}

#categorie-container #creation {
    /* border: 1px solid red; */
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#main-container-fiche #categorie-container:nth-child(3) .title .t:nth-child(2) {
    text-align: right;
}

#main-container-fiche #categorie-container:nth-child(3) #content {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content div {
    margin-bottom: 10px;
}

 #creation #content  div:nth-child(1),#creation #content  div:nth-child(2), #creation #content div:nth-child(3), #creation:nth-child(1) #content div:nth-child(4),#creation:nth-child(1) #content  div:nth-child(5),
#creation:nth-child(1) #content div:nth-child(6), #creation:nth-child(1) #content div:nth-child(7), #creation:nth-child(1) #content div:nth-child(8)
 {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 33.3%;
    word-wrap: break-word;
}


#creation  #content div  p {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    width: 47%;
    word-wrap: break-word;

}

#creation:nth-child(2)   {

    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* word-wrap: break-word; */
}

#creation:nth-child(2) #content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* word-wrap: break-word; */
    /* border: 1px solid blue; */
}


#creation:nth-child(2) #content div  p {
    width: 15.7%;
    /* border: 1px solid red; */
}

#creation:nth-child(2) #content div:nth-child(1) {
    width: 100%;
    /* border: 1px solid red; */
}

#creation:nth-child(2) #content .expression_besoin_text_area{
    /* border: 1px solid blue; */
    width: 100%;
}
#creation:nth-child(2) #content .expression_besoin_text_area textarea {
    width: 83%;
    height: 70px;
    resize: none;
}

#creation:nth-child(2) #content .checkb {
    width: 50%;
    padding: 0;

    /* border: 1px solid red; */
}


#creation:nth-child(3) #content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 1px solid green; */

}
#creation:nth-child(3) #content .service {
    /* border: 1px solid red; */
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    text-decoration: underline;
    width: 100%;

}

#creation:nth-child(3) #content div {
    /* border: 1px solid purple; */
    width: 33.33%;
    display: flex;
}
#creation:nth-child(3) #content:nth-child(3) div:nth-child(6) {
    width: 20%;
    border: 1px solid purple;
}
#creation:nth-child(3) #content .checkb2 {
    /* border: 2px solid yellow; */
    width: 20%;
}

#valider_fiche {
    width: 10%;
    margin-top: 2%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}


#categorie-container:nth-child(2) {
    border: 1px solid grey;
}
#categorie-container #loading-bar {
    width: 25%;
    background-color: green;
    color: green;
    text-align: center;
    border-right: 2px solid white;
}



/* BARRE DE NAVIGATION EN HAUT  */

#under_head {
    /* border: 1px solid black; */
    background-color: rgb(239,239,239);
    width: 80%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: rgb(0,75,155);
    border-radius: 0px 0px 7px 7px;
}
#under_head a{
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: rgb(0,75,155);
}

#nav_bar {
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    background: rgb(0,79,155);
    display: flex;
}

 #nav_bar .logo-ia{
     width: 180px;
     margin-left: 10%;
     height: 100%;
     /* margin-left: 10%; */
     /* border: 1px solid red; */
 }
 #nav_bar .logo-ia img {
     height: 100%;
     width: 100%;
 }

 #nav_bar #container {
       width: 100%;
       /* border: 1px solid red; */
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       word-wrap: break-word;

 }

 #nav_bar #container .element a {
       text-decoration: none;
       color: white;
 }

 #nav_bar #container .element {
       /* border: 1px solid green; */
       height: 100%;
       width: 10%;
       font-size: 1.2em;
       font-family: 'Dosis';
       word-wrap: break-all;
 }

 #nav_bar #container .element:nth-child(10) {
       color: white;
       text-align: center;
       vertical-align: middle;
       line-height: 70px;
       word-wrap: break-all;
       /* border: 1px solid purple; */
       width: 20%;
 }


 /* FIN BARRE MENU DE NAVIGATION */


/*************************************************************************** TABLE USER **************************************************************************************** */

#table_user {
    display: table;
    /* border: 1px solid green; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#table_user .theader {
    display: table-row;
    text-align: center;
    color: black;
    background-color: rgba(0,79,155,0.4);
}


#table_user a {
    display: table-row;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid red;
}

 #table_user a:hover {
     background-color: rgba(0,79,155,0.4);
     transition: 0.5s;
 }

#table_user .white_cell {
    background-color: white;
}

#table_user .grey_cell {
    background-color: rgb(240,240,240);
}

#table_user  span {
    display: table-cell;
    /* padding: 2px; */
    border: 1px solid black;
}

/*********************************************************************** FIN TABLE USER *************************************************************************************** */

/*********************************************************************** CHOIX ACTION (INDEX.PHP) *************************************************************************************** */

#choix_action {
    /* border: 1px solid red; */
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

#choix_action div {
    /* border: 1px solid green; */
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#choix_action a:hover {
    color: blue;
    transition: 0.7;
}

table a {
    text-decoration: underline;
    color: blue;
}
/* table {
    border: 1px solid black;
} */







table .Utilisateur {
    color: red;
    content: "Utilisateur";
}
table .Ordinateur {
    color: green;
    content: "Ordinateur";
}
table .Forfait {
    color: orange;
    content: "Forfait";
}
table .Token {
    color: blue;
    content: "Token";
}



/* NEW DESIGN */

#body2 {
    background-color: rgb(232,233,234);
    font-family: Calibri Light;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#nav_bar2{

    /* float: left; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    /* overflow: auto; */
    width: 280px;
    height: 100%;
    border: 1px solid rgb(200,200,200);
    background-color: white;
    font:400 14px 'Roboto','Arial';
    /* font-family: 'Roboto','Quicksand',sans-serif; */

}
#nav_bar2 #nav_header {
    /* border: 2px solid green; */
    height: 80px;
    border-bottom: 1px solid rgb(200,200,200);
}

#nav_header img {
    width: 35%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#nav_bar2 div:nth-child(2) {
    margin-top: 50px;
}

#nav_bar2 #element{
    width: 100%;
    height: 60px;
    text-align: left;
    padding-left: 15px;
    line-height: 60px;
    font-size: 1.2em;

    /* display: block; */

    /* border: 1px solid rgb(239,239,239); */
}

.deconnexion {
    /* position: absolute; */
    /* bottom: 0; */
    /* border: 2px solid purple; */
}

#element img {
    /* border: 1px solid red; */
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 14px;
    margin-right: 15px;
    display: inline-block;
    /* margin-top: 1%; */
    line-height: 40px;
    text-align: center;

    /* height: 100%; */
    /* clear: both; */
    overflow: auto;
}

#nav_bar2 div a {
    /* color:  rgb(0,75,155); */
    /* border: 1px solid purple; */
    color: rgb(114,119,122);
    /* color: rgb(0,75,155); */
    /* border-bottom: 1px solid ; */

}
#nav_bar2 div:hover a {
    color: black;
    transition: 0.2s;
}

#nav_bar2 div div {
    /* border: 1px solid blue; */
    background: red;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    color: #ffffff;

    /* font-weight: bold; */
    display: inline-block;
    vertical-align: middle;
    /* position: relative; */
    line-height: 2em;
    font-size: 0.65em;
    margin-left: 10px;
    text-align: center;
    width: 2em;
    bottom: 37px;

}


#page-container {
    /* min-width: calc(100vh -61px); */

    transition: all 0.2s ease;



    height: 100%;
    width: calc(100% - 280px);
    /* border: 1px solid green; */
    /* display: inline-block; */
    position: absolute;
    /* overflow: auto; */
    margin-left: 280px;

    vertical-align: top;
}


#barre_horizontale {
    border-top:  1px solid rgb(200,200,200) ;
    border-bottom: 1px solid rgb(200,200,200) ;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* color: rgb(114,119,167); */
    margin-left: 2px;
    height: 80px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    line-height: 80px;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color:  rgb(0,75,155);

}

#barre_horizontale img {
    line-height: 80px;
    /* border: 1px solid purple; */
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

#barre_horizontale div {

    margin-right: 10px;
}

 #barre_horizontale #user_name {
    left: 100%;
    right: 0;
}





.dashboard {
    overflow: auto;
    display: block;

    /* display: flex; */
    width: 100%;
    /* border: 1px solid red; */
    height: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    /* padding-bottom: 100px; */
    /* overflow: hidden; */

    height: calc(100% - 70px);

}


 .dashboard div[element] {
    background-color: white;
    margin-top: 50px;
    border: 1px solid rgb(200,200,200);
}



.employee {
    margin-top: 50px;
}

.presta {
    margin-top: 0px;
    border: 1px solid rgb(200,200,200);
}
.dashboard div h1{
    padding: 0;
    margin: 0;

    /* text-align: left; */
    padding-left: 50px;
    /* border: 1px solid blue; */
    border-bottom: 2px solid  rgb(0,75,155);
    font-weight: 650;
    font-family: 'Quicksand',sans-serif;
    font-size: 15pt;
    width: auto;
}


.recherche-it {
    width: 20%;
    min-width: 400px;
    background-color: white;
    margin: auto auto 0 auto;
    padding-bottom: 10px;
}

#search_it {
    /* border: 1px solid blue; */
    margin: 10px auto 0 auto;
    width: 97%;
    font:400 14px 'Roboto','Arial';
    padding: 0;
    /* background-color: lightpink; */
}
#search_it input[type='text'] {
    height: 25px;

    width: 380px;
    font:400 14px 'Roboto','Arial';
    /* font-size: 1em; */
    /* line-height: 1.3em; */
    text-align: left;
    margin: 0;

}
#search_it select {
      width: 160px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      margin: 0;
}

.export-pdf {
   width: 20%;
   height: 150px;
   border: 1px solid red;
   margin: auto auto 0 auto;
}

.export-pdf form {
    width: 100%;
    height: 38px;
    /* border: 1px solid green; */
    /* height: calc(100% - 27px); */
    text-align: center;
    margin-top: calc(150px/2 - 38px);
    /* vertical-align: middle; */

}

.export-pdf form input[type=text] {
    height: 30px;
    width: 70%;
}
.export-pdf form input[type=submit] {
    height: 38px;
    width: 80px;
}

.embauche {
    margin: auto auto 0 auto;
    /* margin-top: 15px; */
    /* border: 1px solid blue; */
    width: 50%;
    min-width: 700px;
}

.embauche table {
    margin: 10px auto 10px auto;
}

.dashboard #div-embauche-Manager{

    overflow: auto;

}

.dashboard #div-embauche-ICT {
    /* border: 2px solid red; */



}



.dashboard #creation_utilisateur {
    width: 400px;
    margin: 50px auto 0 auto;
}

.dashboard #creation_ordinateur_simple {
    /* position: absolute; */
    /* border: 2px solid purple; */
    margin: 50px auto 0 auto;
    width: 40%;
    min-width: 880px;

}

.dashboard #creation_ordinateur_csv {
    /* border: 2px solid brown; */
    width: 15%;
    min-width: 340px;
    margin: 100px auto 0 auto;
    text-align: center;
    /* line-height: 100px; */
    height: 100px;
}

.dashboard #creation_ordinateur_csv h1 {
    width: 100%;
    padding-left: 0;
    /* height: 40px; */
    /* border: 1px solid red; */
}

.dashboard #creation_ordinateur_csv a {
    float: right;
}

.dashboard #creation_ordinateur_csv form {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.dashboard #liste_utilisateur {
    width: 19%;
    margin: 50px auto 50px auto;

}

.dashboard #liste_utilisateur table {
    margin: 15px 0 15px 0;
}


#resultat_recherche {
      /* border: 1px solid red; */
      width: 90%;
      background-color: white;
      min-width: 700px;
      margin: 10px auto 100px auto;
      /* margin-top: 2%; */
      text-align: center;
      border-radius: 10px 10px 0px 0px;
}

#resultat_recherche table {
    margin: 15px auto 0 auto;
    width: 100%;
    /* border: 2px solid purple; */

}

#table_recherche {
    /* border: 1px solid red; */
    border-collapse: separate;


}
table tr:nth-child(1)  {

}
#table_recherche tr:nth-child(1) td {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background-color: rgb(0,75,155);

    color: white;
}
table tr:nth-child(1) td:first-child {
    border-top-left-radius: 10px;
}
table tr:nth-child(1) td:last-child {
    border-top-right-radius: 10px;
}

table tr td {
    text-align: left;
    font-family: 'Poppins';
    font-size: 15px;
    word-wrap: break-word;
    padding: 5px 20px 5px 20px;
}

#embauche-en-cours {
    border-collapse: separate;
    width: 95%;
}
#embauche-en-cours tr:nth-child(1) td {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background-color: rgb(0,75,155);
    color: white;
}

#materiel {
    width: 800px;
    margin: 50px auto 0 auto;
    background-color: white;
    border: 1px solid rgb(200,200,200);
}

#materiel tr td {
    padding: 5px 0px 5px 0px;
    min-width: 80px;
}



#historique_materiel {
    /* border: 1px solid red; */
    width: 70%;
    min-width: 1400px;
    max-height: 500px;
    overflow: auto;
    /* margin:  20px auto 0 auto; */
    margin-left: auto;
    margin-right: auto;
}


#table_materiel {
    width: 97%;
    margin: 20px auto 20px auto;

}

#infoFiche {
    max-width: 500px;
    /* border: 1px solid red; */
    margin: 50px auto 0 auto;
    border: 1px solid rgb(200,200,200);
    background-color: white;
}

#table_materiel tr:nth-child(1) td {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background-color: rgb(0,75,155);

    color: white;
}

#attribution_materiel {

    width: 70%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    margin: 0px auto 0px auto;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
}
#attribution_materiel .materiel {
    width: 45%;
    background-color: white;
    border: 1px solid rgb(200,200,200);
}
#attribution_materiel .materiel:nth-child(1) {
    margin-right: calc(10% - 4px);
}

#attribution_materiel .materiel_unique {
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: white;
    border: 1px solid rgb(200,200,200);
}

#attribution_materiel .materiel_unique select:nth-child(1) {
    width: 200px;
}

#historique_token_station_cle {
    width: 86.5%;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    /* height: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* overflow: auto; */
}
#historique_token_station_cle div {
    width: 650px;
    margin-bottom: 50px;
    max-height: 300px;
    /* height: 300px; */
    overflow: auto;
    min-width: 300px;
    flex-wrap: wrap;
    border: 1px solid rgb(200,200,200);
    /* border: 1px solid purple; */
    background-color: white;
}

#historique_materiel font:hover {
    cursor: pointer;
}

#historique_token_station_cle div font:hover {
    cursor:pointer;
}

.download_pdf {
    width: 110px;
    cursor: pointer;
    height: auto;
    /* border: 1px solid red; */
    margin: 0 auto 100px auto;
    background-color: white;
}
.download_pdf img {
    width: 70px;
    height: 70px;
    margin: 0 auto 0 auto;
    text-align: center;
    display: block;
}
.download_pdf p {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 5px auto 0px auto;
}

#creation {
    width: 78%;
    margin: 50px auto 0 auto;
    background-color: white;
    /* border: 1px solid red; */
}

.token {
    width: 400px;
    margin: auto auto 0 auto;
}

.station_accueil {
    width: 550px;
    margin: auto auto 0 auto;
}

#creation table {
    margin: 10px auto 10px auto;
    /* border: 1px solid brown; */
}


#creation table td{
    /* border: 2px solid yellow; */
    /* margin: 0; */
    padding: 0px 5px 0px 5px;

}

#current_change {
    margin:0;
    width: 120px;
}

.surligner {
    background-color: rgb(0,120,215);
    color: white;
    /* width: 150px; */
}

#workflow2 {
    width: 700px;
    margin: 0px auto 0 auto;
    background-color: white;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(200,200,200);
    padding: 0px 10px 0px 5px;
}

#workflow2 .ligne {
    width: 100%;
    padding: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 5px 0px 5px 0px; */
    /* line-height: 70px; */
    /* border-bottom: 1px solid purple; */
}

#workflow2 .ligne .colonne {
    /* text-align: center; */
    /* line-height: 70px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* border-right: 1px solid yellow; */

}

#workflow2 .ligne .colonne p {
    /* border: 1px solid green; */
    word-wrap: break-word;
    margin:0;
    height: 100%;

    max-height: 70px;
    text-align: center;
    width: 100%;
    word-break: break-all;
    /* line-height: 70px; */
    vertical-align: center;
    overflow: auto;
    /* margin-top: 20%; */
}

#workflow2 .ligne .colonne p span {
    color: rgb(0,75,155);
    font-weight: 800;
}

#workflow2 .ligne .colonne .toColor {
    padding: 2px 2px 2px 2px;
    text-justify: auto;
}

#workflow2 .ligne .colonne:nth-child(1) {
    width: 15%;
    /* border-bottom: 2px solid red; */
}
#workflow2 .ligne .colonne:nth-child(2) {
    width: 10%;
    /* border-bottom: 2px solid red; */
}
#workflow2 .ligne .colonne:nth-child(3) {
    width: 15%;
    /* border-bottom: 2px solid blue; */
}
#workflow2 .ligne .colonne:nth-child(4)  {
    width: 60%;
    word-wrap: break-word;
    /* border-bottom: 2px solid green; */
    /* overflow: auto; */
}
/* forestgreen */
#workflow2 .ligne .colonne:nth-child(4) p {
    background-color: orangered;
    color: white;
    font-weight: 500;
}

#workflow2 .ligne .colonne button[name=valider_etape] {
    height: 30px;
    width: 90%;
    /* background-color: yellow; */
    border: none;
}
#full-container {
    border: 2px solid red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 68%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgrey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
